@model TMS.Dtos.OrdersDto
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    Layout = null;
    var path = $"{Context.Request.Scheme}://{Context.Request.Host}";
}
<!DOCTYPE html>
<html lang="zxx">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="@path/assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="@path/assets/fonts/font-awesome/css/font-awesome.min.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="@path/lib/theme/dist/img/logo.png" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    @if (Model == null || Model.Id == 0)
    {
        <div class="alert alert-info">
            No order found!
        </div>
    }
    else
    {
        <div class="invoice-5 invoice-content bg-white p-2">

            <div class="container-fluid">
                <div class="row" style="justify-content:center">
                    @if (!Model.IsForDownload)
                    {
                        <div class="row">
                            <button id="btnDownloadPrint" class="btn btn-sm btn-primary w-auto" onclick='window.location.href = "/Orders/DownloadInvoice?OrderID=@Model.Id"'>Print</button>
                            &nbsp;
                            <button id="btnDownloadBack" class="btn btn-sm btn-info w-auto" onclick='window.location.href = "/Orders"'>Back</button>
                        </div>
                    }
                    <div style="width:100%; height: 559px;">
                        <div class="invoice-inner clearfix">
                            <div class="clearfix" id="invoice_wrapper">
                                <div class="invoice-contant">
                                    <div class="invoice-bottom">
                                        <div class="row mt-2">
                                            <div class="col-12 p-2">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <img src="@path/lib/theme/dist/img/logo.png" style="width: 150px; height:auto;" />
                                                    </div>
                                                    <div class="col-9 text-end">
                                                        <h1 class="title">@Configuration.GetSection("CompanyName").Value</h1>
                                                        <h3 class="title">Invoice#@Model.Id</h3>
                                                        <p class="mb-0">Print Date: <b>@DateTime.Now.ToString("dd MMM, yyyy hh:mm tt")</b></p>
                                                        <p class="mb-0">Order Date: <b>@Model.OrderDate.ToString("dd MMM, yyyy")</b></p>
                                                        <p class="mb-0">Return Date: <b>@Model.ReturnDate.ToString("dd MMM, yyyy")</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="border: 1px dashed black" class="col-12 mb-2">
                                            </div>
                                            <div class="row">
                                                <div class="col-4 p-0">
                                                    <h6 class="title mb-10">Customer</h6>
                                                    <p class="invo-addr-1 mb-0">
                                                        <i class="fa fa-id-badge"></i> ID: <b>@Model.CustomerId </b><br />
                                                        <i class="fa fa-user"></i> Name: <b>@Model.CustomerName</b> <br />
                                                        <i class="fa fa-phone"></i> Cell:  <b>@Model.CustomerMobile</b> <br />
                                                        <i class="fa fa-map-marker"></i> Address:  <b>@Model.CustomerAddress</b><br />
                                                    </p>
                                                </div>
                                                <div class="col-5 p-0">
                                                    <h6 class="title mb-10">Cutter/Tailor</h6>
                                                    <p class="invo-addr-1 mb-0">
                                                        <i class="fa fa-id-badge"></i> Cutter ID: <b>@Model.OrderItem.CutterId</b><br />
                                                        <i class="fa fa-user"></i> Cutter Name: <b>@Model.OrderItem.CutterName</b> <br />
                                                        <i class="fa fa-id-badge"></i> Tailor ID: <b>@Model.OrderItem.TailorId</b><br />
                                                        <i class="fa fa-user"></i> Tailor Name: <b>@Model.OrderItem.TailorName</b> <br />
                                                    </p>
                                                </div>
                                                <div class="col-3 p-0">
                                                    <h6 class="title mb-10">Order Details</h6>
                                                    <p class="mb-0">Quantity: <b>@Model.OrderItem.Qty </b></p>
                                                    <p class="mb-0">Total: <b>Rs @Model.TotalAmount/-</b></p>
                                                    <p class="mb-0">Paid: <b>Rs @Model.PaidAmount/-</b></p>
                                                    <p class="mb-0">Balance: <b>Rs @(Model.TotalAmount - Model.PaidAmount)/-</b></p>
                                                </div>
                                            </div>
                                            <div style="border: 1px dashed black" class="col-12 mb-3">
                                            </div>
                                            <div class="col-12 p-0">
                                                <h6 class="title mb-10">Other Details(دیگر تفصیلات)</h6>
                                                <div style="border: 1px dashed black; min-height:150px; padding:5px;word-wrap: break-word;" class="mt-1 mb-1">
                                                    @Model.OrderItem.OtherDetails
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</body>
</html>