@model TMS.Dtos.OrdersDto
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    Layout = null;
    var path = $"{Context.Request.Scheme}://{Context.Request.Host}";
}
<!DOCTYPE html>
<html lang="zxx">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="@path/assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="@path/assets/fonts/font-awesome/css/font-awesome.min.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="@path/assets/img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    @* <link type="text/css" rel="stylesheet" href="@path/assets/css/style.css"> *@
</head>
<body>
    @if (Model == null || Model.Id == 0)
    {
        <div class="alert alert-info">
            No Measurement found!
        </div>
    }
    else
    {
        <div class="invoice-5 invoice-content">

            <div class="container-fluid">
                <div class="row" style="justify-content:center">
                    <div style="width:100%">
                        <div class="invoice-inner clearfix">
                            <div class="clearfix" id="invoice_wrapper">
                                <div class="invoice-contant">
                                    <div class="invoice-bottom">
                                        <div class="row mt-2">
                                            <div class="col-12 p-2 text-center">
                                                <h2 class="title">@Configuration.GetSection("CompanyName").Value</h2>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <b>Order ID: </b>
                                                    #@Model.Id
                                                </div>
                                                <div class="col-md-4">
                                                    <b>Customer Name: </b>
                                                    @Model.CustomerName
                                                </div>
                                                <div class="col-md-4">
                                                    <b>Order Date: </b>
                                                    @Model.OrderDate.ToString("dd MMM, yyyy")
                                                </div>
                                                <div class="col-md-4">
                                                    <b>Return Date: </b>
                                                    @Model.ReturnDate.ToString("dd MMM, yyyy")
                                                </div>
                                                <div class="col-md-4">
                                                    <b>Quantity: </b>
                                                    @Model.OrderItem.Qty
                                                </div>
                                                <div class="col-md-4">
                                                    <b>Cutter: </b>
                                                    @Model.OrderItem.CutterName
                                                </div>
                                                <div class="col-md-4">
                                                    <b>Tailor: </b>
                                                    @Model.OrderItem.TailorName
                                                </div>
                                                <div class="col-md-4">
                                                    <b>Printed on: </b>
                                                    @DateTime.Now.ToString("dd MMM yyyy hh:mm tt")
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="card col-12 p-2">
                                                    <table class="table table-bordered text-end">
                                                        <tr>
                                                            <td colspan="4" rowspan="10" class="w-50">

                                                                <div class="col-md-12">
                                                                    <label class="text-right col-12">تفصیل:</label>
                                                                    @Model.OrderItem.Description
                                                                </div>
                                                                <div class=" col-md-12">
                                                                    <label class="text-right col-12"> :دیگر تفصیلات </label>
                                                                    <div class="col-12" style="min-height: 200px;padding:5px;border-radius: 5px;word-wrap: break-word;max-width: 450px; float:right;">@Model.OrderItem.OtherDetails</div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                @Model.OrderItem.ShirtLengthSize
                                                            </td>
                                                            <td>لمبائی قمیض</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.ArmSize
                                                            </td>
                                                            <td>بازو</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.TeraSize
                                                            </td>
                                                            <td>تیرا</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.NeckSize
                                                            </td>
                                                            <td>گلا</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.ChestSize
                                                            </td>
                                                            <td>چھاتی</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.QamarSize
                                                            </td>
                                                            <td>کمر</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.HipsSize
                                                            </td>
                                                            <td>گھیرہ</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.PentLengthSize
                                                            </td>
                                                            <td>شلوار لمبائی</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.FeetSize
                                                            </td>
                                                            <td>پائنچہ</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.PentSize
                                                            </td>
                                                            <td>شلوار گھیرہ</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.Shirt
                                                            </td>
                                                            <td>شرٹ</td>
                                                            <td>
                                                                @Model.OrderItem.Kurta
                                                            </td>
                                                            <td>کرتا</td>
                                                            <td>
                                                                @Model.OrderItem.ShalwarPocket
                                                            </td>
                                                            <td>شلوار پاکٹ</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.Patti
                                                            </td>
                                                            <td>پٹی چوڑائی</td>
                                                            <td>
                                                                @Model.OrderItem.Cuff
                                                            </td>
                                                            <td>کف چوڑائی</td>
                                                            <td>
                                                                @Model.OrderItem.ColorNock
                                                            </td>
                                                            <td>کالر نوک</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Model.OrderItem.SidePocket
                                                            </td>
                                                            <td>سائیڈ پاکٹ</td>
                                                            <td>
                                                                @Model.OrderItem.FrontPocket
                                                            </td>
                                                            <td>سامنے پاکٹ</td>
                                                            <td>
                                                                @Model.OrderItem.ColorBan
                                                            </td>
                                                            <td>کالر بین</td>
                                                        </tr>
                                                    </table>

                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</body>
</html>