@{
    ViewData["Title"] = localizer["Staff"];
    //var dir = CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    //var lang = CultureInfo.CurrentCulture.Name;
    var textDir = CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "right" : "left";
    var btnDir = CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "left" : "right";
}
<div class="content-wrapper">
    @await Component.InvokeAsync("BreadCrumb", new { Title = localizer["Staff"], From = localizer["Home"], To = localizer["Staff"] })

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title float-@textDir">@localizer["List_of_Staffs"]</h3>
                            <button class="btn btn-info btn-sm float-@btnDir" onclick="StaffManager.LoadSaveForm(0)"><i class="fa fa-user-plus"></i> @localizer["Add_Staff"]</button>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="dtStaff" class="table table-bordered table-striped table-sm text-@textDir">
                                <thead>
                                    <tr>
                                        <th>@localizer["Sr_No"]</th>
                                        <th>@localizer["Emp_No"]</th>
                                        <th>@localizer["First_Name"]</th>
                                        <th>@localizer["Last_Name"]</th>
                                        <th>@localizer["Email"]</th>
                                        <th>@localizer["Role"]</th>
                                        <th>@localizer["Actions"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/js/staff-manager.js" asp-asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        StaffManager.LoadDataTable();
    })
</script>